# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# Azure Functions
local.settings.json

# .NET
bin/
obj/

# VS Code
.vscode/

# Rider
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
